sudo: enabled
dist: trusty

branches:
  only:
    - master

language: node_js
node_js:
  - "node"

script: yarn build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/
  on:
    branch: master
